/*$lightColor: #D8E6F3;
$darkColor: #AFCDE7;
$secondColor: #0c4360;*/
$accentColor: #4F27BF;
$lightColor: #FFFFFF;
$bgcColor:rgba(255, 255, 255, 0.05);
$darkColor: rgba(79, 39, 191, 0.65);
$textColor: #1C1C1E;
$secondTextColor: #6C6C6C;
/*$darkAccentColor: #bb4f02;
$colorStroke: rgb(12, 106, 154);
*/


$baseFont:  'Montserrat', sans-serif;;

